site_name: Customer Documentation
nav:
  - Home: index.md
  - Setup:
    - Pre-requisites:
      - Network Requirements: 
        - Overview: network/index.md
        - With Multicast: network/multicast.md
        - No Multicast: network/unicast.md
        - WiFi: network/wifi.md
      - Apple TV Hardware: setup/atvhardware.md
      - TV Hardware:
        - Compatibility: setup/tv-hardware.md
        - Tested Models: setup/tv-compat-matrix.md
    - Install and Configuration: 
      - TV Setup : setup/tv-setup.md
      - Remote Control: setup/remote-control-setup.md
      - Onboarding rooms: setup/onboarding.md
  - User Guide:
    - Glyde: user-guides/glyde.md
    - Remote Control: user-guides/remote-control.md
    - Apple TV: user-guides/appletv.md
    - Live TV App: user-guides/livetv.md
    - Hotel / Balcony App: user-guides/balcony.md
    - Reset App: user-guides/reset.md
  - Support: support/index.md
site_url: https://dandandandan81.github.io
theme:
  name: material
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.prune
    - toc.follow
    - navigation.top
    - search.share
    - navigation.expand
    - navigation.path
  favicon: assets/favicon.png
  logo: assets/favicon.png
extra_css:
  - stylesheets/extra.css
markdown_extensions:
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.betterem
  - tables
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
copyright: Copyright &copy; 2025 ROOMNET LTD