site_name: Customer Documentation
nav:
  - Home: index.md
  - Setup:
    - "Setup Guide": setup/index.md
    - "Network Preperation":
      - "With Multicast TV": setup/multicast.md
      - "No Multicast TV": setup/unicast.md
      - "WiFi Only": setup/wifi.md
    - "Hardware Preperation":
      - "TV/Screens": setup/tv-hardware.md
      - "Apple TV": setup/atvhardware.md
      - "Tested TV Models": setup/tv-compat-matrix.md
    - "Configuration & Install": 
      - "TV Setup" : setup/tv-setup.md
      - "Remote Control": setup/remote-control-setup.md
      - "Onboarding Devices": setup/onboarding.md
  - "TV Setup Guides":
    - "tv-guide": tv-guides/index.md
    - "LG Retail":
      - "QNED85 Series": tv-guides/lg/LG-QNED85.md
    - "Samsung Hospitality": 
      - "HG AU800 Series " : tv-guides/samsung/HG-AU800.md
  - "User Guide":
    - "Guide": user-guides/index.md
    - "System":
      - "Glyde": user-guides/glyde.md
      - "Remote Control": user-guides/remote-control.md
      - "Apple TV": user-guides/appletv.md
    - "Apps":
      - "Live TV App": user-guides/livetv.md
      - "Hotel / Balcony App": user-guides/balcony.md
      - "Reset App": user-guides/reset.md
  - "Support": support/index.md
site_url: https://dandandandan81.github.io
theme:
  name: material
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    # - navigation.instant # Incompatible with mkdocs_static_i18n
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.action.edit
    - content.action.view
    - announce.dismiss
    - content.tabs.link
  favicon: assets/favicon.png
  logo: assets/favicon.png
extra_css:
  - stylesheets/extra.css
markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.tabbed:
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.betterem
  - tables
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
copyright: Copyright &copy; 2025 ROOMNET LTD
